.table-container {
    position: relative;
    margin-top: 25px;
    width: 30vw;
    height: 50vh;
    background-color: var(--black);
    border-radius: 8px;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
}

.table-title {
    text-align: center;
    color: var(--pastel-grn);
    margin: 15px 0;
    font-size: 24px;
    font-weight: bold;
}

.table-scroll {
    position: relative;
    overflow: scroll;
    height: 80%;
}

.table-scroll::-webkit-scrollbar {
    display: none;
}

.table {
    margin: 0;
    padding: 0;
}

.table-header {
    list-style-type: none;
    display: flex;
    padding: 25px;
    color: var(--black);
    background-color: var(--green);
}

.table-row {
    position: relative;
    color: white;
    list-style-type: none;
    display: flex;
    padding: 25px;
    border-bottom: 1px solid var(--light-grn);
}

.debt-icon {
    position: absolute;
}

.debt-icon:hover {
    cursor: pointer;
    color: red;
}

.col-1 {
    flex: 25%;
}

.col-2 {
    flex: 55%;
}

.col-3 {
    flex: 15%;
}

.col-4 {
    flex: 5%;
}

.insert {
    width: 30vw;
    height: 4vh;
    margin-top: 15px;
    display: flex;
    align-items: center;
    background-color: var(--black);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
    border-radius: 8px;
    color: white;
}

.insert-input {
    position: relative;
    width: 70%;
    background-color: transparent;
    border: 2px solid var(--light-grn);
    border-radius: 8px;
    color: white;
    margin: 0 5px;
    padding: 10px;
}

.insert-input:nth-child(1) {
    margin-left: 25px;
}

.insert-input:focus {
    outline: none;
}

.insert button {
    background-color: transparent;
    color: white;
    border: 2px solid var(--light-grn);
    padding: 5px 10px;
    margin-right: 25px;
    border-radius: 8px;
    transition-duration: 0.3s;
    font-size: 20px;
}

.insert button:hover {
    background-color: var(--light-grn);
    color: var(--black);
    cursor: pointer;
}

@media only screen and (min-width: 769px) and (max-width: 1800px)  {
    .table-container { width: 50vw; }

    .insert { width: 50vw; height: 6vh; }
}