.nav {
    height: 5vh;
    width: 100vw;
    position: fixed;
    background-color: var(--green);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    z-index: 1;
}

.app-name {
    margin-left: 25px;
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
}

.nav-links {
    width: 100%;
    position: fixed;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.nav-link {
    font-size: 18px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 4px;
    color: var(--black);
    transition-duration: 0.3s;
    text-decoration: none;
}

.nav-link:last-of-type {
    margin-right: 0;
}

.nav-link:hover {
    cursor: pointer;
    background-color: var(--light-grn);
}

.current {
    background-color: var(--light-grn);
}

@media only screen and (min-width: 769px) and (max-width: 1800px)  {
    .nav { height: 8vh; }
}